form{
    background-color: rgb(27, 125, 115);
    border-style: groove;
    display: inline-block;
    
}
input{
    background-color: rgba(30, 51, 57, 0.558);
    border-radius: 15px 50px 30px;
    
}
label{
    text-shadow: 1ch;
    font: bold 15px arial italic;
}
textarea{
    border-radius: 15px 50px 30px;

}
a{
    text-decoration: none;
    color: white;
}
/* info{
    background-color: aquamarine;
} */
